* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "FONTE HQ";
    src: url('FONTES/Kavoon-Regular.ttf');
}

@font-face {
    font-family: "FONTE TÍTULO";
    src: url('FONTES/Bangers-Regular.ttf');
}

@font-face {
    font-family: "FONTE BOTÃO";
    src: url('FONTES/Miguel\ De\ Northern.ttf');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    width: 300px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 25px;
    font-family: "FONTE HQ";
}

.banner img {
    width: 100%;
    height: auto;
}

section {
    text-align: center;
    padding: 40px 0;
}

h2 {
    font-size: 44px;
    font-family: "FONTE TÍTULO";
    margin-bottom: 20px;
}

.mais-vendidos {
    background-color: white;
}
.produtos {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: white;
}

.produto {
    margin: 15px;
    border: 1px solid #ccc;
    padding: 30px;
    width: 400px;
}


.produto img {
    width: 300px;
    height: 400px;
}

.produto h3 {
    margin: 20px 0;
    color: #EABC31;
    font-weight: bold;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.produto button {
    background-color: #EABC31;
    border: none;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    font-family: "FONTE HQ";
    font-size: 15px;
    color: white;
}

.produto button:hover {
    background-color: #000;
    color: #fff;
}



.categoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
}

.marvel h3 {
    color: #FF0000;
}

.dc h3 {
    color: #001f3f;
}

footer {
    background-color: black;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer-logo img {
    max-width: 250px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.footer-section {
    margin-right: 50px;
}

.footer-section h2 {
    font-family: "FONTE HQ";
    font-size: 20px;
    color: white;
}

.footer-section p {
    font-size: 14px;
    color: white;
}

span {
    color: black;
    font-size: 17px;
}

.quadrinhos {
    background-color: white;
}

.marvel {
    width: 100%;
    margin-bottom: 40px;
}

.dc {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.produtoHA {
    margin: 15px;
    border: 1px solid #ccc;
    padding: 30px;
    width: 400px;
}


.produtoHA img {
    width: 350px;
    height: 400px;
}

.produtoHA h3 {
    margin: 20px 0;
    color: #EABC31;
    font-weight: bold;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.produtoHA button {
    background-color: #EABC31;
    border: none;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    font-family: "FONTE HQ";
    font-size: 15px;
    color: white;
}

.produtoHA button:hover {
    background-color: #000;
    color: #fff;
}
